<nav>
  <ul>
    <li><a href="/search/new/<%= user %>">Search</a></li>
    <li><a href="/resources/<%= user %>">View Saved</a></li>
    <li><a href="/about/<%= user %>">About the Devs</a></li>
    <li><a href="/">Logout</a></li>
  </ul>
</nav>

