<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/styles/reset.css">
  <link rel="stylesheet" href="/styles/base.css">
  <link rel="stylesheet" href="/styles/layout.css">
  <link rel="stylesheet" href="/styles/modules.css">
  <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <title>About the Developers</title>
</head>

<body id="about">
  <%- include('layout/nav.ejs') %>
    <h1>Meet the Devs</h1>
    <section class="about">
      <ul>
      <li>
        <h2>Carly</h2>
        <img src="/img/Carly.jpg">
        <p>I am a software developer specializing in people-first problem solving. Analytical and also deeply empathetic,
          with a background in recruiting, business administration, and math.</p>
        <a href="https://www.linkedin.com/in/carlydekock/">Linkedin</a>
        <a href="https://github.com/carlydekock">Github</a>
      </li>

      <li>
        <h2>Stephen</h2>
        <img src="/img/stephen.jpg">
        <p>I am a software developer specializing in writing human-friendly and efficient code with an eye for continual
          optimization. Energetic and versatile team player with background as an author and professor.</p>
        <a href="https://www.linkedin.com/in/stephen-lloyd-webber/">Linkedin</a>
        <a href="https://github.com/offgridauthor">Github</a>
      </li>
    </ul>
  </section>
  <footer>&copy; 2021 Carly Stephen</footer>
</body>

</html>