<li><a href="<%= content.videos[i].url %>" target="_blank"><img src="<%= content.videos[i].image%>" width="200px"></a></li>


<iframe src="https://www.youtube.com/embed/URL" width="560" height="315" frameborder="0"></iframe>