<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/styles/reset.css">
  <link rel="stylesheet" type="text/css" href="/styles/base.css">
  <link rel="stylesheet" type="text/css" href="/styles/layout.css">
  <link rel="stylesheet" type="text/css" href="/styles/modules.css">
  <title>Login</title>
</head>

<body id="loginbody">
  <% if(data){ %>
    <div id="loginfailed"></div>
    <% } else { %>
      <div id="loginworked"></div>
      <% } %>
      <h1>Skills for Devs</h1>
      <img id="logo" src="/img/logo.jpg">
      <p>Hunt for jobs and level up your skills.</p>
        <div class="loginpage">       
          <form id="loginbox" action="/login" method="POST">
            <input type="text" name="name" placeholder="Enter your name">
            <input type="text" name="username" placeholder="Enter your email">
            <input type="submit" value="Login">
          </form>
        </div>

        <div class="loginpage">
          <form id="signup" action="/signup" method="POST">
            <p>Please enter your name and email again to sign up.</p>
          <input type="text" name="name" placeholder="Enter your name">
          <input type="text" name="username" placeholder="Enter your email">
          <input type="submit" value="Sign up">
        </form>
        <script src="js/app.js"></script>
        </div>
</body>

</html>