body {
  background-image: url(/img/782852.jpg);
}

h1 {
  font-family: 'Bad Script', cursive;
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 5px black;

}

body div:nth-of-type(2) {
background-color: rgba(245,245,245,0.5);
}